@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #e0ded2;
    overflow: hidden; 
}

.container {
    position: relative;
}


.overlay-text {
    font-family: monospace;
    font-size: 70px;
    text-align: center;
    color: #4c9a42;
    margin-top: 35vh;
    text-shadow: 3px -1px 6px black;


}

.small-text {
    font-size: 15px;
    color: #24fa08;
    font-weight: lighter;
}

.tiny-text {
    font-size: 13px;
    color: #24fa08;
    font-weight: lighter;
}
.overlay-text:hover {
    color: #24fa08;
}

.credits {
    font-size: 20px;
    color: #e938cc;
}

.credits a {
    color: #e938cc;
}

.credits a:hover {
    color: #a825d3;
}

#overlay {
    position:absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(47 67 83 / 71%);
    background-image: linear-gradient(315deg, #2f43539e 0%, #d2ccc4a6 74%);
    top:0;
    left: 0;
    z-index: 1;
    transition: opacity 1.5s; 
}
    
#overlay.fade {
 opacity: 0;
}


/* if min height, have to also get other parts to stick */
.sampler {
    height: 100%;
    top: 0;
    width: auto;
    left:0;
    position: absolute;
    min-height: 490px;
  
}

.ruby-radio {
    position: absolute;
    height: 9%;
    width: 33vh;
    top: 9.4%;
    left: 26vh;
    background: #9ed9e4;
    overflow: hidden;
}

.ruby-radio p {
    position: absolute;
    padding: 0;
    margin: 0;
    color: #59b34d;
    font-size: 34px;
    width: 350px;
    font-family: 'VT323', monospace;

}

.p1 {
    animation: slideshow 10s linear infinite;

}

.p2 {
    animation-delay: 10s;
    animation: slideshow-offset 10s linear infinite;
}

@keyframes slideshow {
    0%    { left: 0px; }
    100%  { left: -350px; }
}

@keyframes slideshow-offset {
    0%    { left: 350px; }
    100%  { left: 0px; }
}

.buttons {
    position: absolute;
    position: absolute;
    background: #54666d;
    left: 73vh;
    padding: 10px;
    bottom: 3vh;
    width: 55vh;
    height: 58vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 13vh 13vh 13vh 13vh;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
}

.button {
    position: relative;
    border-bottom: solid 4px #140f0c;
    border-left: solid 2px #140f0c;
    height: 12vh;
    width: 12vh;
    background: #514746;
    color: white;
}
.button p {
    position: absolute;
    top: -20px;
    font-family: sans-serif;
    font-size: 10px;
}

.active {
    border-bottom: solid 4px #5bb4f0;
    border-left: solid 2px #5bb4f0;
}


/* .example {
    position: absolute;
    bottom: 0;
} */
/* .app{

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background: #e0ded2;   
} */

/* old sampler style */
  /* background-image: url("./images/sampler_small.png");
    background-size: contain;
    background-repeat: no-repeat; */
    /* left: 50%; */
    /* margin-left: -50%; */
    
    /* margin-top: -50vh; */